<!-- <footer>

<p>Car Rental Service</p>

<p>Email: admin@gmail.com</p>

</footer> -->
<!-- <footer class="footer">
  <p class="footer-title">Car Rental Service</p>
  <p>Email: <a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
  <p>&copy; 2026 Harish Car Booking. All rights reserved.</p>
</footer> -->
<footer class="footer">
  <div class="footer-content">
    <span class="footer-title">Car Rental Service</span> | 
    <span>Email: <a href="mailto:admin@gmail.com">admin@gmail.com</a></span> | 
    <span>&copy; 2026 Harish Car Booking.</span>
  </div>
</footer>