body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes the body take up full screen height */
  margin: 0;
}

.footer {
  margin-top: auto; /* This "pushes" the footer to the bottom of the flex container */
  background: #264653;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 0.75rem;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}