<!-- <nav>

<a routerLink="">Home</a>

<a routerLink="/cars">Cars</a>

</nav> -->
<!-- Navigation -->
<!-- <nav class="navbar">
  <div class="logo">
    <h1>Harish Car Booking</h1>
  </div>
  <div class="nav-links">
  
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
  </div>
</nav> -->

<nav class="navbar">
  <div class="logo">
    <h1>Harsha Vardhan Car Booking</h1>
  </div>
  <div class="nav-links">
    <div class="nav-item">
      <a class="nav-btn">About</a>
      <div class="dropdown-content">
        <p><strong >we are Harsha Vardhan car's from Bhadrachalam. We provide cars for rent at the best prices.</strong> </p>
      </div>
    </div>

    <div class="nav-item">
      <a class="nav-btn">Contact</a>
      <div class="dropdown-content">
        <p><strong>Harish:</strong>6309592114</p>
      </div>
    </div>
  </div>
</nav>
